ul{
    border: 5px solid orange;
    list-style: none;
}

li{
    border: 5px solid green;
}

.nav-list
{
    display: flex;
    flex-wrap: wrap;
    gap : 1rem;
    margin: 0;
    padding: 0;
    
}

.nav-list li {
    flex-grow: 1;
    flex-shrink: 1;
}