ul{
    border: 5px solid orange;
    list-style: none;
}

li{
    border: 5px solid green;
}

.nav-list
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    gap : 1rem;
    margin: 0;
    padding: 0;
    
}

.nav-list li {
    flex-grow: 0;
    /* flex-shrink: 1; */
}

/* Justify content does not work when we have the flex-grow set to 1. */